body{
    background-color: rgb(10, 10, 10);
    margin: 0;
    box-sizing: border-box;
}



.hero-title {
    font-size: 7rem;
    margin: 0;
    text-align: center;
    color: rgb(255, 255, 255); 
    text-shadow: 0 0 10px rgb(255, 255, 255); 
    letter-spacing: 1px; 
    line-height: 1.2; 
}
  
  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    color: white;
  }
  
  .hero-action {
    text-align: center;
  }
  
main{
  margin-bottom: 60px;
}

  footer {
    width: 100%;
    height: 35px;
    background-color: rgb(39, 37, 37);
    color: #fff;
    text-align: center;
    padding-top: 4px;
    
  }
  
 
nav {
  width: 100%;
  background-color: #080808cb; 
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.3);

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display:inline;
  margin-right: 30px;
}

nav a {
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition: 0.3s ease;
}

nav a:hover {
  color: #adbbed; 
  text-decoration: none;
}
  

.movie.button {
  background-color: #DC3545;
  border-color: #f4f0f0;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 10px 30px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
}

.movie.button:hover {
  background-color: #fff;
  border-color: #DC3545;
  color: #DC3545;
}




/* index page */

.movie-list-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 4rem;
  font-family:'Oswald', sans-serif;
  text-shadow: 4px 4px 3px #040404;
  padding-top: 3rem;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}


.movie-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  height: 425px;
  margin: 1.5%;
  padding: 1rem;
  border: 2px solid #ccc;
  text-align: center;
  align-items: center;
  overflow:hidden;
}

.movie-container h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  background-color: #fcd94be3;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}

.movie-container h2 a {
  text-decoration: none;
  color: #000000; 
}

.movie-container h2 a:hover {
  color: rgb(136, 2, 2);
  font-size: 1.2rem;
}

.movie-container p {
  margin: 0;
  margin-top: auto;
  margin-bottom: 0;
  color: white;
}

.movie-container img {
  width: 100%;
  min-height: auto;
  max-height: fit-content;
  object-fit: cover;
}

.movie-row .movie-container {
  background-color: #030417;
}




/* add new movie page - form*/
h1 {
  text-align: center;
  color: #fff;
}

.movie-page-container form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.movie-page-container form label {
  font-weight: bold;
}

.movie-page-container form input,
.movie-page-container form textarea,
.movie-page-container form select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.movie-page-container form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #3b50c7;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}

.movie-page-container form button:hover {
  background-color: #c73504;
}
 
p {
  color: rgb(249, 248, 248);
}




/* edit - make changes page*/
.edit-form {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10%;
 
  
}

label {
  color: white;
}


/*movie details page*/
.movie-details-page h1 {
    text-align: center;
    font-size: 3.5rem;
    padding: 1rem;
    color: rgb(1, 1, 1);
    text-shadow: 0 0 10px rgb(255, 255, 255);
    font-family: 'Abril Fatface', cursive;
  }
  
.movie-details-container {
   background-color: #16171b;
   padding: 1rem;
   width: 50%;
   min-width:fit-content;
   align-items: center;
   display: flex;
  justify-content: center;

}

.image-container {
  flex-basis: 35%;
}

.movie-details-info {
  flex-basis: 60%;
  padding: 1rem;
  border: solid black;
  
}

  .movie-details-page img {
    width: 100%;
    height: auto;
    border: 3.5px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  }
  
  .movie-details-page p {
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .movie-details-page div {
    text-align: center;
  }




/* review/rate form*/
  .form {
    background-color: #1a1919;
    padding: 50px;
  }
  
  .form h2 {
    text-align: center;
    font-weight: bold;
    color: white;
    padding-bottom: 20px;
  }
  
  .form label {
    font-weight: bold;
    color: black;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 2px;
    margin-bottom: 20px;
    border: black solid;
    border-radius: 5px;
  }
  
  .form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.review-form label {
  font-weight: bold;
  color: rgb(246, 238, 238);
}

.review-form {
  padding-left: 5%;
  padding-right: 5%;
}





.review-section{
  background-color: #0e0e23e3;
  padding: 7px;
}

.review-section h2 {
  color: white;
  padding-top: 10px;
}

.rating-stars {
  font-size: 20px;
}

.rating-stars span.active {
  color: gold;
  
}

.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7px;
  padding: 10px;
  background-color: beige;
  border-radius: 10px;
  width: 30%;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}










